.video-embed {
  position: relative;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.ytp-large-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  z-index: 63;
}
.ytp-large-play-button svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ytp-large-play-button-bg {
  transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
  fill: #212121;
  fill-opacity: .8;
}
.video-embed:hover .ytp-large-play-button-bg {
  transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  fill: #f00;
  fill-opacity: 1;
}
.ytp-button::-moz-focus-inner {
  padding: 0;
  border: 0;
  cursor: pointer;

}
.ytp-button:focus, .ytp-button {
  outline: 0;
}
.ytp-button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
}